---
import Layout from '@theme/layouts/Layout.astro';
import { getTranslations } from '../i18n/utils';

interface Props {
  title: string;
  description: string;
  img?: string;
}

const { title, ...props } = Astro.props;

const { site_title } = getTranslations();
---

<Layout title={`${title} | ${site_title}`} {...props}>
  <h1 class="font-semibold text-slate-800 text-3xl">{Astro.props.title}</h1>
  <slot />
</Layout>
